<div class="container">
<p id="notice"><%= notice %></p>

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">

  <div class="page-title title-text">
    <h1>La Cocina del Rey</h1>
  </div>  
  <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-4">
          <div class="recipe-box">
            <% if recipe.image? %>  
            <%= link_to (image_tag recipe.image.url, class: "recipe-index"), recipe  %>
            <% end %>
          <ul>
            <li><h2><%= recipe.title %></h2></li>
            <li><h3><%= recipe.description %></h3></li>
            <li><h3><%= link_to 'Show', recipe %> |
            <%= link_to 'Edit', edit_recipe_path(recipe) %> |
            <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></h3></li>
          </ul>
          </div><!--/recipe-->
        </div><!--col-md-4-->
      <% end %>
  </div><!--row close-->
  <h2><%= link_to 'New Recipe', new_recipe_path, class:"btn btn-primary btn-block" %></h2>
</div><!--container-->

<footer>
  <div class="footer">
  </div>
</footer>